/* ========================================= FONT'S START =============================================== */
/* cyrillic-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu72xKOzY.woff2)
    format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu5mxKOzY.woff2)
    format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu7GxKOzY.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxK.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfCRc4EsA.woff2)
    format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfABc4EsA.woff2)
    format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfChc4EsA.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfBBc4.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmYUtfCRc4EsA.woff2)
    format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmYUtfABc4EsA.woff2)
    format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmYUtfChc4EsA.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmYUtfBBc4.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* ========================================= FONT'S END =============================================== */

/* ========================================= CSS RESET START =============================================== */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* ========================================= CSS RESET END =============================================== */

/* ========================================= COMMON START =============================================== */
*,
::after,
::before {
  box-sizing: border-box;
}

a,
::after,
::before {
  display: inline-flex;
  text-decoration: none;
  color: inherit;
}

input,
textarea,
button {
  font: inherit;
}

body {
  font-family: "Roboto", var(--system-fonts), sans-serif;
  color: var(--secondary-text-hue);
}

.container {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
}

:root {
  --hue: 0;
  --sec-hue: 225;
  --primary-color: hsl(calc(var(--hue) + 333), 86%, 55%);
  --secondary-color: hsl(var(--sec-hue), 57%, 21%);
  --secondary-text-hue: hsl(var(--sec-hue), 23%, 63%);
  --secondary-lines-hue: hsl(var(--sec-hue), 36%, 43%);
  --white: #fff;
  --system-fonts: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --shadow: 0 18px 50px -15px var(--secondary-color);
}

h1 {
  width: 550px;
  font-size: 50px;
  font-weight: 700;
  line-height: 1.2;
  color: var(--white);
  margin-bottom: 15px;
}

.title {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 30px;
  color: var(--secondary-color);
}

.subtitle {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 15px;
  color: var(--secondary-color);
}

.text {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
  color: var(--secondary-text-hue);
}

.button {
  width: 160px;
  height: 40px;
  cursor: pointer;
  color: var(--secondary-text-hue);
  background-color: transparent;
  border: 1px solid var(--secondary-lines-hue);
  border-radius: 999px;
  transition: 0.25s;
  text-align: center;
}

.button:hover {
  background-color: var(--secondary-lines-hue);
  color: var(--white);
}

.button.btn-large {
  width: 240px;
  height: 50px;
  background-color: var(--primary-color);
  color: var(--white);
  border: 0;
  border-radius: 999px;
  transition: 0.25s;
  text-align: center;
}

.button.btn-large:hover {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  background-color: transparent;
}
/* ========================================= COMMON END =============================================== */

/* ========================================= HEADER START =============================================== */
.header {
  padding: 50px 0;
  background-color: var(--secondary-color);
}

.logo img {
  width: 100%;
  height: 40px;
}

.navbar,
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav a,
.header-link {
  transition: 0.25s;
  padding: 20px 0;
}

.nav a:hover,
.header-link:hover {
  color: var(--primary-color);
}

.nav > :nth-child(2) {
  margin-left: 80px;
}

.nav > :nth-child(n + 3) {
  margin-left: 35px;
}

.header-link {
  margin-right: 40px;
}
/* ========================================= HEADER END =============================================== */

/* ========================================= HERO START =============================================== */
.hero {
  position: relative;
  padding-bottom: 150px;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: var(--secondary-color);
  width: 100%;
  height: 100%;
  transform-origin: 0 100%;
  transform: skewY(-7deg);
  z-index: -1;
  border-bottom: 15px solid var(--primary-color);
}

.hero-text {
  width: 550px;
  margin-bottom: 50px;
}

.hero > .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-inf {
  margin-right: 73px;
}

.hero > .container > img {
  width: 100%;
  height: 100%;
  margin-bottom: -105px;
}
/* ========================================= HERO END =============================================== */

/* ========================================= FEATURES START =============================================== */
.features {
  padding-top: 50px;
  padding-bottom: 130px;
}

.features-info {
  text-align: center;
}

.features-info-text {
  margin-bottom: 80px;
}

.features-card-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.features-card {
  width: 360px;
  text-align: center;
}

.features-card img {
  width: 60px;
  height: 60px;
  margin-bottom: 25px;
}
/* ========================================= FEATURES END =============================================== */
